body {
  background-color: #1a1a1a;
  color: white;
  font-family: "Dosis";
}

button {
  background-color: #e6e6e6;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #cccccc;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 32px;
  margin-bottom: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.login-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 300px;
}

.login-form-input {
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  outline: none;
  margin-top: 30px;
  width: 100%;
}

.login-form-input:not(:placeholder-shown) {
  text-decoration: underline;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.game-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.game-status-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.game-status-player {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40px;
}

.game-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.game-board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
}

.game-board-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #cccccc;
  margin-left: -3px;
  border: 3px solid black;
  font-size: 64px;
  cursor: pointer;
  color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
